# Node / Build
node_modules/
dist/
build/
.vite/

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.user
*.vsix

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Coverage
coverage/
